.header {
    color: #b1a296;
    background-color: #5d5c61;
    width: 100%;
    text-align: center;
    padding-top:32px;
    padding-bottom:32px;
    border-bottom: 10px solid #557a95;
    margin-bottom: 5px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-weight: bolder;
}