.header {
    color: #f3e5d1;
    background-color: #225f1c;
    width: 100%;
    text-align: center;
    padding-top:32px;
    padding-bottom:32px;
    border-bottom: 10px solid #d85a11;
    margin-bottom: 5px;
    font-family:Georgia, serif;
    font-weight: bolder;
}