.datatable .col {
    color: #b1a296;
    cursor: pointer;
    background-color: #5d5c61;
  }
  
  .datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
  }
  
  .datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "⬆️⬇️";
    margin-right: 0;
  }